* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(120, 120, 120);
}

#info img {
    position: absolute;
    border-radius: 50%;
    width: 10%;
    background-color: white;
    border: solid 10px #00CCCC;
}

span {
    color: rgb(26, 149, 149);
}

header {
    background-color: #00CCCC;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

header img {
    width: 100%;
    height: auto;
    max-height: 800px;
}

header h2 {
    color: white;
    font-size: 25px;
    white-space: nowrap;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

#presentation {
    margin: auto;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#about {
    display: flex;
    width: 100%;
    height: auto;
    min-height: 500px;
    background-color: rgb(230, 230, 230);
}

#about div {    
    width: 100%;
    padding: 120px 10px 0 10px;
}

#center {
    background-color: rgb(220, 220, 220);
}

#center h2 {
    margin-bottom: 20px;
}

#center h3 {
    margin: 10px 0;
}


#left h2 {
    margin-bottom: 20px;
}

#profile {
    width: 80%;
    height: auto;
    display: flex;
    justify-content: center;
}


#info {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 10px;
    background-color: #00CCCC;
}

#educationandtechnologies {

    display: flex;
    width: 100%;
    height: 300px;
    /* background-color: red; */
}

#educationandtechnologies div {

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

#educationandtechnologies li {
    margin-top: 10px;
}

#employmenthistory {
    display: flex;
    justify-content: space-around;
    height: auto;
    min-height: 400px;
}

.employmentsections {
    display: flex;
    align-items: flex-start;
    margin-top: 20px;
}

.employmentsections div {
    width: 100%;
}

.icon {
    width: 100%;
    margin-top: 30px;
}

.icon p {
    margin-top: 10px;
    margin-left: 30px;
}

.spacer {
    margin-top: 50px;
    background-color: white;
    text-align: center;
    height: 90px;
}

hr.solid {
    border: 0;
    height: 1px;
    width: 100%;
    background-image: linear-gradient(to right, rgba(0, 204, 204, 0), rgba(0, 204, 204, 0.75), rgba(0, 204, 204, 0));
}

hr.vertical {
    border: 0;
    height: 100%;
    width: 1px;
    background-image: linear-gradient(to bottom, rgba(0, 204, 204, 0), rgba(0, 204, 204, 0.75), rgba(0, 204, 204, 0));
}