* {
    margin: 0;
    font-family: sans-serif;
    font-weight: 500;
    /* background-color: #f0f0f0; */
}

#resumecontainer {

}

#resumetitle {
    /* background-color: yellow; */
    text-align: center;
    padding: 1% 0 1% 0;
}

#resumebody {
    /* background-color: blue; */

    width: 100%;
    min-height: 100%

}

#resumebody img {
    display: inline;
    position: absolute;
    width: 20%;
    height: 30%;
    margin-top: 5%;
    background-color: white;
}

#description {
    display: flex;
    justify-content: center;
}


#presentation {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 70%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* background-color: red; */
}

#presentation div {
    margin: 2% 0 2% 0;
}

#presentation div span {
    color: #00CCCC;
}

#profile {
    width: 80%;
}

#profile h2 {
    margin-bottom: 2%;
}

#info {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

#info.div {
    margin: 1% 0 1% 0;
}
    

#technologies {
    /* background-color: rebeccapurple; */

    /* box-shadow: 5px 5px 10px rgba(0, 0, 0, .2); */
    width: 50%;
}

#educationandtechnologies {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

#employmenthistory {
    display: flex;
    flex-direction: column;
}

.employmentsections {
    display: flex;
    align-items: flex-start;

}

.employmentsections div {
    width: 100%;
}

hr.solid {
    /* border-bottom: 2px solid #00CCCC; */
    box-shadow: 0 30px 40px rgba(0,0,0,.1); 
    width: 100%;
}